build/
build*/
cmake-build-*/
out/
CMakeFiles/
CMakeCache.txt
install/
install*/

/CMakeUserPresets.json

Testing/
DartConfiguration.tcl

/compile_commands.json
/.clangd/
/.cache/clangd/
/cmake/local.cmake
/.Internal/

# Dependency source and artifact caches
/.cache/
bin/

.idea/

.vs/
.vscode/
*.user
*.suo
CMakeSettings.json



### C++ specific
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.pdb
*.ilk
*.dSYM/

__pycache__/

.DS_Store

Thumbs.db
desktop.ini

*.swp
*~
